name: Docker Image CI

on:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout broken-image-reg
      uses: actions/checkout@v3
      with: 
        path: "broken-image-reg"
        fetch-depth: 0
        fetch-tags: true
        
    - name: Checkout go-containerregistry fork
      uses: actions/checkout@v3
      with:
        repository: "dcaravel/go-containerregistry"
        path: "go-containerregistry"
        
    - name: Login to Quay
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAYUSER }}
        password: ${{ secrets.QUAYPASS }}

    - name: Set tag
      id: set-tag
      run: |
        cd broken-image-reg
        tag="$(git describe --tags --abbrev=10 --long)"
        echo "tag=$tag" >> "$GITHUB_OUTPUT"

    - name: Build and Push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: broken-image-reg/deployments/Dockerfile
        push: true
        tags: |
          quay.io/dcaravel/brokenreg:${{ steps.set-tag.outputs.tag }}
